[Unit]
Description=RTSP Webcam
Wants=network-online.target
After=multi-user.target network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/picam.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
