{% extends 'layouts/base.html' %}
{% block title %}Admin{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
<div id="system-controls">
    <h1>System Controls</h1>
    <fieldset>
        <legend>Manage Config</legend>
        <form name="write-form" method="POST" action="/write-config">
            <div>
                <input type="submit" id="write-config" name="write-config" value="Write Config"/>
            </div>
        </form>
        <form name="reload-form" method="POST" action="/reload-config">
            <div>
                <input type="submit" id="reload-config" name="reload-config" value="Reload Config"/>
            </div>
        </form>
        <form name="download-form" method="GET" action="/download-config">
            <div>
                <input type="submit" name="download-config" value="Download Config"/>
            </div>
        </form>
        <!--
        <div>
            <form name="config-management" method="POST" action="/upload-config">
                <input type="file" id="config-file" name="config-file" />
                <input type="submit" id="upload-config" name="upload-config" value="Upload Config"/>
            </form>
        </div>
        -->
    </fieldset>
    <fieldset>
        <legend>System Controls</legend>
        <form name="update-form" method="POST" action="/update-picam">
            <div>
                <input type="submit" name="update-picam" value="Update Picam"/>
                {% if new_version_available %}
                <span>New version available: {{ new_version_available }}</span>
                {% endif %}
            </div>
        </form>
        <form name="restart-form" method="POST" action="/restart-picam">
            <div>
                <input type="submit" name="restart-picam" id="restart-picam" value="Restart Picam Service"/>
            </div>
        </form>
        <form name="reboot-form" method="POST" action="/reboot">
            <div>
                <input type="submit" name="reboot-pi" id="reboot-pi" onclick="return confirm('Are you sure you want to reboot?');" value="Reboot Pi"/>
            </div>
        </form>
        <form name="shutdown-form" method="POST" action="/shutdown">
            <div>
                <input type="submit" name="shutdown-pi" id="shutdown-pi" onclick="return confirm('Are you sure you want to shutdown?');" value="Shutdown Pi"/>
            </div>
        </form>
    </fieldset>
    <fieldset>
        <legend>Raspberry Pi Controls</legend>
        <form name="scaling-governor-form" method="POST" action="/scaling-governor" class="grid2c">
            <div>
                <input type="submit" name="submit" value="Toggle CPU Governor"/>
            </div>
            <div>
                <ul>
                    <li>ondemand{{ ' [active]' if scaling_governor == 'ondemand' else ''}}: adaptive cpu speed to save power</li>
                    <li>performance{{ ' [active]' if scaling_governor == 'performance' else ''}}: run cpu at full speed</li>
                </ul>
            </div>
        </form>
        <form name="wifi-power-form" method="POST" action="/wifi-power" class="grid2c">
            <div>
                <input type="submit" name="wifi-power" value="Disable WiFi Power Saving" class="grid2c"/>
            </div>
            <div>
                <ul>
                    <li>disable for better wifi experience</li>
                    <li>currently: {{ wifi_power }}</li>
                </ul>
            </div>
        </form>
        <form name="hdmi-toggle-form" method="POST" action="/hdmi" class="grid2c">
            <div>
                <input type="submit" name="hdmi-toggle" value="Toggle HDMI Power"/>
            </div>
            <div>
                <ul>
                    <li>save a small bit of power if you don't need the display</li>
                </ul>
            </div>
        </form>
    </fieldset>
</div>
{% endblock %}
{% block footer %}
Version: {{ version }}
{% endblock %}
