[Unit]
Description=RTSP Webcam Controls
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/picam/picam-ctl/app.py

[Install]
WantedBy=default.target
