[Unit]
Description=RTSP Webcam
Wants=network-online.target
After=network-online.target systemd-user-sessions.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/picam/picam.py
