{% extends 'layouts/base.html' %}
{% block title %}Device Configuration{% endblock %}

{% block header %}
<h1>Configure Audio Device</h1>
{% endblock %}

{% block main %}
<div class="audio-device">
    <h2>{{ description }} [{{ serial }}]</h2>
    <form name="update-audio-config" method="POST" action="/config-audio-device/{{ serial }}">
        <input type="hidden" name="{{ audio_device }}-type" id="{{ audio_device }}-type"/>
    <div id="{{ audio_device }}" class="audio-settings">
        <div class="audio-control">
            <label for="{{ audio_device }}-endpoint">Endpoint</label>
            <input type="text" value="{{ device_config['endpoint'] }}" name="{{ audio_device }}-endpoint" id="{{ audio_device }}-endpoint"/>
        </div>
        <div class="audio-control">
            <label for="{{ audio_device }}-audio_rate">Audio Rate</label>
            <select name="{{ audio_device }}-audio_rate" id="{{ audio_device }}-audio_rate">
                {% if 48000 in sample_rates %}
                <option value="48000" {{ 'selected' if device_config['audio_rate'] == 48000 else '' }}>48000</option>
                {% endif %}
                {% if 44100 in sample_rates %}
                <option value="44100" {{ 'selected' if device_config['audio_rate'] == 44100 else '' }}>44100</option>
                {% endif %}
                {% if 32000 in sample_rates %}
                <option value="32000" {{ 'selected' if device_config['audio_rate'] == 32000 else '' }}>32000</option>
                {% endif %}
            </select>
        </div>
        <div id="system-controls">
            <div class="audio-control">
                <input type="submit" name="update" value="Update"/>
            </div>
            {% if device_config %}
            <div>
                <input type="submit" name="delete" value="Delete Configuration" onclick="return confirm('Are you sure you want to delete?');" />
            </div>
            {% endif %}
        </div>
    </div>
    </form>
</div>
{% endblock %}
