{% extends 'layouts/base.html' %}
{% block title %}Device Configuration{% endblock %}

{% block header %}
<h1>Configure Video Device</h1>
{% endblock %}

{% block main %}
<div class="video-device">
    <form name="update-video-config" method="POST" action="/config-video-device/{{ serial }}">
        <input type="hidden" name="{{ video_device }}-type" id="device-{{ video_device }}-type" value="UVC"/>
        <h2>{{ description }} [{{ serial }}]</h2>
        <div id="device-{{ video_device }}" class="video-settings">
            <fieldset>
                <legend>Camera Options</legend>
                <div class="video-control">
                    <label for="{{ video_device }}-endpoint">Endpoint</label>
                    <input type="text" value="{{ device_config['endpoint'] }}" name="{{ video_device }}-endpoint" id="device-{{ video_device }}-endpoint"/>
                </div>
                <div class="video-control">
                    <label for="{{ video_device }}-resolution">Resolution</label>
                    <select name="{{ video_device }}-resolution" id="device-{{ video_device }}-resolution">
                        <option value="1920x1080" {{ 'selected' if device_config['resolution'] == '1920x1080' else '' }} {{ 'hidden' if '1920x1080' not in resolutions }}>1920x1080</option>
                        <option value="1280x720" {{ 'selected' if device_config['resolution'] == '1280x720' else '' }} {{ 'hidden' if '1280x720' not in resolutions }}>1280x720</option>
                        <option value="1024x576" {{ 'selected' if device_config['resolution'] == '1024x576' else '' }} {{ 'hidden' if '1024x576' not in resolutions }}>1024x576</option>
                        <option value="640x360" {{ 'selected' if device_config['resolution'] == '640x360' else '' }} {{ 'hidden' if '640x360' not in resolutions }}>640x360</option>
                        <option value="1024x768" {{ 'selected' if device_config['resolution'] == '1024x768' else '' }} {{ 'hidden' if '1024x768' not in resolutions }}>1024x768</option>
                        <option value="960x720" {{ 'selected' if device_config['resolution'] == '960x720' else '' }} {{ 'hidden' if '960x720' not in resolutions }}>960x720</option>
                        <option value="800x600" {{ 'selected' if device_config['resolution'] == '800x600' else '' }} {{ 'hidden' if '800x600' not in resolutions }}>800x600</option>
                        <option value="640x480" {{ 'selected' if device_config['resolution'] == '640x480' else '' }} {{ 'hidden' if '640x480' not in resolutions }}>640x480</option>
                        <option value="320x240" {{ 'selected' if device_config['resolution'] == '320x240' else '' }} {{ 'hidden' if '320x240' not in resolutions }}>320x240</option>
                    </select>
                </div>
                <div class="video-control">
                    <label for="{{ video_device }}-framerate">Framerate</label>
                    <select name="{{ video_device }}-framerate" id="device-{{ video_device }}-framerate">
                        <option value="60" {{ 'selected' if device_config['framerate'] == 60 else '' }} {{ 'hidden' if '60' not in framerates }}>60</option>
                        <option value="59.940" {{ 'selected' if device_config['framerate'] == '59.940' else '' }} {{ 'hidden' if '59.940' not in framerates }}>59.940</option>
                        <option value="30" {{ 'selected' if device_config['framerate'] == 30 else '' }} {{ 'hidden' if '30' not in framerates }}>30</option>
                        <option value="48" {{ 'selected' if device_config['framerate'] == 48 else '' }} {{ 'hidden' if '48' not in framerates }}>48</option>
                        <option value="24" {{ 'selected' if device_config['framerate'] == 24 else '' }} {{ 'hidden' if '24' not in framerates }}>24</option>
                    </select>
                </div>
                <div class="video-control">
                    <label for="{{ video_device }}-encoding">Encoding</label>
                    <select name="{{ video_device }}-encoding" id="device-{{ video_device }}-encoding">
                        {% if  'H264' in video_options.keys() or 'MJPG' in video_options.keys() %}
			<optgroup label="builtin">
                        {% endif %}
                        {% if  'H264' in video_options.keys() %}
                        <option value="h264" {{ 'selected' if device_config['encoding'] == 'h264' else '' }}>h264 (device)</option>
                        {% endif %}
                        {% if  'MJPG' in video_options.keys() %}
                        <option value="mjpeg" {{ 'selected' if device_config['encoding'] == 'mjpeg' else '' }}>mjpeg (device)</option>
                        {% endif %}
                        {% if  'H264' in video_options.keys() or 'MJPG' in video_options.keys() %}
			</optgroup>
                        {% endif %}
                        <!-- software encoders, always allow -->
			{% if v4l2h264enc_available %}
			<optgroup label="hardware">
                        <option value="v4l2h264enc" {{ 'selected' if device_config['encoding'] == 'v4l2h264enc' else '' }}>v4l2h264enc</option>
			</optgroup>
			{% endif %}
			<optgroup label="software">
                        <option value="jpegenc" {{ 'selected' if device_config['encoding'] == 'jpegenc' else '' }}>jpegenc</option>
                        <option value="x264enc" {{ 'selected' if device_config['encoding'] == 'x264enc' else '' }}>x264enc</option>
                        <option value="vp8enc" {{ 'selected' if device_config['encoding'] == 'vp8enc' else '' }}>vp8enc</option>
			</optgroup>
                    </select>
                </div>
            </fieldset>
            {% if v4l2_options %}
            <fieldset>
                <legend>Camera Controls</legend>
                {% if 'gain' in v4l2_options %}
                <div class="video-control">
                    <label for="{{ video_device }}-gain">Gain</label>
                    <input type="number" min="{{ v4l2_options['gain']['min'] }}" max="{{ v4l2_options['gain']['max'] }}" value="{{ v4l2['gain'] }}" name="{{ video_device }}-gain" id="device-{{ video_device }}-gain" onchange="updateValue(this, 'device-{{ video_device }}-range');" />
                    <input type="range" min="{{ v4l2_options['gain']['min'] }}" max="{{ v4l2_options['gain']['max'] }}" value="{{ v4l2['gain'] }}" name="{{ video_device }}-range" id="device-{{ video_device }}-range" oninput="updateValue(this, 'device-{{ video_device }}-gain');" />
                </div>
                {% endif %}

                {% if 'white_balance_temperature_auto' in v4l2_options %}
                <div class="video-control">
                    <label for="{{ video_device }}-white_balance_temperature_auto">White Balance Auto</label>
                    <input type="checkbox" name="{{ video_device }}-white_balance_temperature_auto" {{ 'checked' if v4l2['white_balance_temperature_auto'] in ['1', 1, 'on', 'checked'] else '' }} id="device-{{ video_device }}-white_balance_temperature_auto"/>
                </div>
                {% endif %}

                {% if 'white_balance_temperature' in v4l2_options %}
                <div class="video-control">
                    <label for="{{ video_device }}-white_balance_temperature">White Balance Temperature</label>
                    <input type="number" min="{{ v4l2_options['white_balance_temperature']['min'] }}" max="{{ v4l2_options['white_balance_temperature']['max'] }}" step="{{ v4l2_options['white_balance_temperature']['step'] }}" value="{{ v4l2['white_balance_temperature'] }}" name="{{ video_device }}-white_balance_temperature" id="device-{{ video_device }}-white_balance_temperature" onchange="updateValue(this, 'device-{{ video_device }}-white_balance_temperature-range')" />
                    <input type="range" min="{{ v4l2_options['white_balance_temperature']['min'] }}" max="{{ v4l2_options['white_balance_temperature']['max'] }}" step="{{ v4l2_options['white_balance_temperature']['step'] }}" value="{{ v4l2['white_balance_temperature'] }}" name="{{ video_device }}-white_balance_temperature-range" id="device-{{ video_device }}-white_balance_temperature-range" oninput="updateValue(this, 'device-{{ video_device }}-white_balance_temperature')" />
                </div>
                {% endif %}

                {% if 'exposure_auto' in v4l2_options %}
                <div class="video-control">
                    <label for="{{ video_device }}-exposure_auto">Exposure Auto</label>
                    <input type="checkbox" name="{{ video_device }}-exposure_auto" {{ 'checked' if v4l2['exposure_auto'] in ['3', 3] else '' }} id="device-{{ video_device }}-exposure_auto"/>
                </div>
                {% endif %}

                {% if 'exposure_auto_priority' in v4l2_options %}
                <div class="video-control">
                    <label for="{{ video_device }}-exposure_auto_priority">Exposure Auto Priority</label>
                    <input type="checkbox" name="{{ video_device }}-exposure_auto_priority" {{ 'checked' if v4l2['exposure_auto_priority'] in ['1', 1] else '' }} id="device-{{ video_device }}-exposure_auto_priority"/>
                </div>
                {% endif %}

                {% if 'exposure_absolute' in v4l2_options %}
                <div class="video-control">
                    <label for="{{ video_device }}-exposure_absolute">Exposure Absolute</label>
                    <input type="number" min="{{ v4l2_options['exposure_absolute']['min'] }}" max="{{ v4l2_options['exposure_absolute']['max'] }}" step="{{ v4l2_options['exposure_absolute']['step'] }}" value="{{ v4l2['exposure_absolute'] }}" name="{{ video_device }}-exposure_absolute" id="device-{{ video_device }}-exposure_absolute" onchange="updateValue(this, 'device-{{ video_device }}-exposure_absolute-range')" />
                    <input type="range" min="{{ v4l2_options['exposure_absolute']['min'] }}" max="{{ v4l2_options['exposure_absolute']['max'] }}" step="{{ v4l2_options['exposure_absolute']['step'] }}" value="{{ v4l2['exposure_absolute'] }}" name="{{ video_device }}-exposure_absolute-range" id="device-{{ video_device }}-exposure_absolute-range" oninput="updateValue(this, 'device-{{ video_device }}-exposure_absolute')" />
                </div>
                {% endif %}

                {% if 'gamma' in v4l2_options %}
                <div class="video-control">
                    <label for="{{ video_device }}-gamma">Gamma</label>
                    <input type="number" min="{{ v4l2_options['gamma']['min'] }}" max="{{ v4l2_options['gamma']['max'] }}" step="{{ v4l2_options['gamma']['step'] }}" value="{{ v4l2['gamma'] }}" name="{{ video_device }}-gamma" id="device-{{ video_device }}-gamma" onchange="updateValue(this, 'device-{{ video_device }}-gamma-range')" />
                    <input type="range" min="{{ v4l2_options['gamma']['min'] }}" max="{{ v4l2_options['gamma']['max'] }}" step="{{ v4l2_options['gamma']['step'] }}" value="{{ v4l2['gamma'] }}" name="{{ video_device }}-gamma-range" id="device-{{ video_device }}-gamma-range" oninput="updateValue(this, 'device-{{ video_device }}-gamma')" />
                </div>
                {% endif %}

                {% if 'brightness' in v4l2_options %}
                <div class="video-control">
                    <label for="{{ video_device }}-brightness">Brightness</label>
                    <input type="number" min="{{ v4l2_options['brightness']['min'] }}" max="{{ v4l2_options['brightness']['max'] }}" step="{{ v4l2_options['brightness']['step'] }}" value="{{ v4l2['brightness'] }}" name="{{ video_device }}-brightness" id="device-{{ video_device }}-brightness" onchange="updateValue(this, 'device-{{ video_device }}-brightness-range')" />
                    <input type="range" min="{{ v4l2_options['brightness']['min'] }}" max="{{ v4l2_options['brightness']['max'] }}" step="{{ v4l2_options['brightness']['step'] }}" value="{{ v4l2['brightness'] }}" name="{{ video_device }}-brightness-range" id="device-{{ video_device }}-brightness-range" oninput="updateValue(this, 'device-{{ video_device }}-brightness')" />
                </div>
                {% endif %}

                {% if 'contrast' in v4l2_options %}
                <div class="video-control">
                    <label for="{{ video_device }}-contrast">Contrast</label>
                    <input type="number" min="{{ v4l2_options['contrast']['min'] }}" max="{{ v4l2_options['contrast']['max'] }}" step="{{ v4l2_options['contrast']['step'] }}" value="{{ v4l2['contrast'] }}" name="{{ video_device }}-contrast" id="device-{{ video_device }}-contrast" onchange="updateValue(this, 'device-{{ video_device }}-contrast-range')" />
                    <input type="range" min="{{ v4l2_options['contrast']['min'] }}" max="{{ v4l2_options['contrast']['max'] }}" step="{{ v4l2_options['contrast']['step'] }}" value="{{ v4l2['contrast'] }}" name="{{ video_device }}-contrast-range" id="device-{{ video_device }}-contrast-range" oninput="updateValue(this, 'device-{{ video_device }}-contrast')" />
                </div>
                {% endif %}

                {% if 'saturation' in v4l2_options %}
                <div class="video-control">
                    <label for="{{ video_device }}-saturation">Saturation</label>
                    <input type="number" min="{{ v4l2_options['saturation']['min'] }}" max="{{ v4l2_options['saturation']['max'] }}" step="{{ v4l2_options['saturation']['step'] }}" value="{{ v4l2['saturation'] }}" name="{{ video_device }}-saturation" id="device-{{ video_device }}-saturation" onchange="updateValue(this, 'device-{{ video_device }}-saturation-range')" />
                    <input type="range" min="{{ v4l2_options['saturation']['min'] }}" max="{{ v4l2_options['saturation']['max'] }}" step="{{ v4l2_options['saturation']['step'] }}" value="{{ v4l2['saturation'] }}" name="{{ video_device }}-saturation-range" id="device-{{ video_device }}-saturation-range" oninput="updateValue(this, 'device-{{ video_device }}-saturation')" />
                </div>
                {% endif %}

                {% if 'sharpness' in v4l2_options %}
                <div class="video-control">
                    <label for="{{ video_device }}-sharpness">Sharpness</label>
                    <input type="number" min="{{ v4l2_options['sharpness']['min'] }}" max="{{ v4l2_options['sharpness']['max'] }}" step="{{ v4l2_options['sharpness']['step'] }}" value="{{ v4l2['sharpness'] }}" name="{{ video_device }}-sharpness" id="device-{{ video_device }}-sharpness" onchange="updateValue(this, 'device-{{ video_device }}-sharpness-range')" />
                    <input type="range" min="{{ v4l2_options['sharpness']['min'] }}" max="{{ v4l2_options['sharpness']['max'] }}" step="{{ v4l2_options['sharpness']['step'] }}" value="{{ v4l2['sharpness'] }}" name="{{ video_device }}-sharpness-range" id="device-{{ video_device }}-sharpness-range" oninput="updateValue(this, 'device-{{ video_device }}-sharpness')" />
                </div>
                {% endif %}

                {% if 'pan_absolute' in v4l2_options %}
                <div class="video-control">
                    <label for="{{ video_device }}-pan_absolute">Pan Absolute</label>
                    <input type="number" min="{{ v4l2_options['pan_absolute']['min'] }}" max="{{ v4l2_options['pan_absolute']['max'] }}" step="{{ v4l2_options['pan_absolute']['step'] }}" value="{{ v4l2['pan_absolute'] }}" name="{{ video_device }}-pan_absolute" id="device-{{ video_device }}-pan_absolute" onchange="updateValue(this, 'device-{{ video_device }}-pan_absolute-range')" />
                    <input type="range" min="{{ v4l2_options['pan_absolute']['min'] }}" max="{{ v4l2_options['pan_absolute']['max'] }}" step="{{ v4l2_options['pan_absolute']['step'] }}" value="{{ v4l2['pan_absolute'] }}" name="{{ video_device }}-pan_absolute-range" id="device-{{ video_device }}-pan_absolute-range" oninput="updateValue(this, 'device-{{ video_device }}-pan_absolute')" />
                </div>
                {% endif %}

                {% if 'tilt_absolute' in v4l2_options %}
                <div class="video-control">
                    <label for="{{ video_device }}-tilt_absolute">Tilt Absolute</label>
                    <input type="number" min="{{ v4l2_options['tilt_absolute']['min'] }}" max="{{ v4l2_options['tilt_absolute']['max'] }}" step="{{ v4l2_options['tilt_absolute']['step'] }}" value="{{ v4l2['tilt_absolute'] }}" name="{{ video_device }}-tilt_absolute" id="device-{{ video_device }}-tilt_absolute" onchange="updateValue(this, 'device-{{ video_device }}-tilt_absolute-range')" />
                    <input type="range" min="{{ v4l2_options['tilt_absolute']['min'] }}" max="{{ v4l2_options['tilt_absolute']['max'] }}" step="{{ v4l2_options['tilt_absolute']['step'] }}" value="{{ v4l2['tilt_absolute'] }}" name="{{ video_device }}-tilt_absolute-range" id="device-{{ video_device }}-tilt_absolute-range" oninput="updateValue(this, 'device-{{ video_device }}-tilt_absolute')" />
                </div>
                {% endif %}

                {% if 'backlight_compensation' in v4l2_options %}
                <div class="video-control">
                    <label for="{{ video_device }}-backlight_compensation">Backlight Compensation</label>
                    <input type="checkbox" name="{{ video_device }}-backlight_compensation" {{ 'checked' if v4l2['backlight_compensation'] in ['1', 1] }} id="device-{{ video_device }}-backlight_compensation"/>
                </div>
                {% endif %}

                {% if 'focus_auto' in v4l2_options %}
                <div class="video-control">
                    <label for="{{ video_device }}-focus_auto">Focus Auto</label>
                    <input type="checkbox" name="{{ video_device }}-focus_auto" {{ 'checked' if v4l2['focus_auto'] in ['1', 1] }} id="device-{{ video_device }}-focus_auto"/>
                </div>
                {% endif %}

                {% if 'focus_absolute' in v4l2_options %}
                <div class="video-control">
                    <label for="{{ video_device }}-focus_absolute">Focus Absolute</label>
                    <input type="number" min="{{ v4l2_options['focus_absolute']['min'] }}" max="{{ v4l2_options['focus_absolute']['max'] }}" step="{{ v4l2_options['focus_absolute']['step'] }}" value="{{ v4l2['focus_absolute'] }}" name="{{ video_device }}-focus_absolute" id="device-{{ video_device }}-focus_absolute" onchange="updateValue(this, 'device-{{ video_device }}-focus_absolute-range')" />
                    <input type="range" min="{{ v4l2_options['focus_absolute']['min'] }}" max="{{ v4l2_options['focus_absolute']['max'] }}" step="{{ v4l2_options['focus_absolute']['step'] }}" value="{{ v4l2['focus_absolute'] }}" name="{{ video_device }}-focus_absolute-range" id="device-{{ video_device }}-focus_absolute-range" oninput="updateValue(this, 'device-{{ video_device }}-focus_absolute')" />
                </div>
                {% endif %}

                {% if 'zoom_absolute' in v4l2_options %}
                <div class="video-control">
                    <label for="{{ video_device }}-zoom_absolute">Zoom Absolute</label>
                    <input type="number" min="{{ v4l2_options['zoom_absolute']['min'] }}" max="{{ v4l2_options['zoom_absolute']['max'] }}" step="{{ v4l2_options['zoom_absolute']['step'] }}" value="{{ v4l2['zoom_absolute'] }}" name="{{ video_device }}-zoom_absolute" id="device-{{ video_device }}-zoom_absolute" onchange="updateValue(this, 'device-{{ video_device }}-zoom_absolute-range')" />
                    <input type="range" min="{{ v4l2_options['zoom_absolute']['min'] }}" max="{{ v4l2_options['zoom_absolute']['max'] }}" step="{{ v4l2_options['zoom_absolute']['step'] }}" value="{{ v4l2['zoom_absolute'] }}" name="{{ video_device }}-zoom_absolute-range" id="device-{{ video_device }}-zoom_absolute-range" oninput="updateValue(this, 'device-{{ video_device }}-zoom_absolute')" />
                </div>
                {% endif %}
            </fieldset>
            {% endif %}
            <div id="system-controls">
                <div>
                    <input type="submit" name="update" value="Update"/>
                </div>
                {% if device_config %}
                <div class="system-control">
                    <input type="submit" name="delete" value="Delete Configuration" onclick="return confirm('Are you sure you want to delete?');" />
                </div>
                {% endif %}
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block script %}
function updateValue(elem, val) {
    document.getElementById(val).value = elem.value;
}

function createOptionElem(value, text) {
    option_elem = document.createElement('option')
    option_elem.setAttribute('value', value);
    option_elem.innerHTML = text;
    return option_elem;
}

encoding_options = {
    {% if  'H264' in video_options.keys() %}
    'h264': {
        {% if '1920x1080' in video_options['H264'] and video_options['H264']['1920x1080'] | intersect([60,48,30,24]) %}
        '1920x1080': [
            {% if 60 in video_options['H264']['1920x1080'] %}60,{% endif %}
            {% if 48 in video_options['H264']['1920x1080'] %}48,{% endif %}
            {% if 30 in video_options['H264']['1920x1080'] %}30,{% endif %}
            {% if 24 in video_options['H264']['1920x1080'] %}24,{% endif %}
        ],
        {% endif %}
        {% if '1280x720' in video_options['H264'] and video_options['H264']['1280x720'] | intersect([60,48,30,24]) %}
        '1280x720': [
            {% if 60 in video_options['H264']['1280x720'] %}60,{% endif %}
            {% if 48 in video_options['H264']['1280x720'] %}48,{% endif %}
            {% if 30 in video_options['H264']['1280x720'] %}30,{% endif %}
            {% if 24 in video_options['H264']['1280x720'] %}24,{% endif %}
        ],
        {% endif %}
        {% if '1024x576' in video_options['H264'] and video_options['H264']['1024x576'] | intersect([60,48,30,24]) %}
        '1024x576': [
            {% if 60 in video_options['H264']['1024x576'] %}60,{% endif %}
            {% if 48 in video_options['H264']['1024x576'] %}48,{% endif %}
            {% if 30 in video_options['H264']['1024x576'] %}30,{% endif %}
            {% if 24 in video_options['H264']['1024x576'] %}24,{% endif %}
        ],
        {% endif %}
        {% if '640x360' in video_options['H264'] and video_options['H264']['640x360'] | intersect([60,48,30,24]) %}
        '640x360': [
            {% if 60 in video_options['H264']['640x360'] %}60,{% endif %}
            {% if 48 in video_options['H264']['640x360'] %}48,{% endif %}
            {% if 30 in video_options['H264']['640x360'] %}30,{% endif %}
            {% if 24 in video_options['H264']['640x360'] %}24,{% endif %}
        ],
        {% endif %}
        {% if '1024x768' in video_options['H264'] and video_options['H264']['1024x768'] | intersect([60,48,30,24]) %}
        '1024x768': [
            {% if 60 in video_options['H264']['1024x768'] %}60,{% endif %}
            {% if 48 in video_options['H264']['1024x768'] %}48,{% endif %}
            {% if 30 in video_options['H264']['1024x768'] %}30,{% endif %}
            {% if 24 in video_options['H264']['1024x768'] %}24,{% endif %}
        ],
        {% endif %}
        {% if '960x720' in video_options['H264'] and video_options['H264']['960x720'] | intersect([60,48,30,24]) %}
        '960x720': [
            {% if 60 in video_options['H264']['960x720'] %}60,{% endif %}
            {% if 48 in video_options['H264']['960x720'] %}48,{% endif %}
            {% if 30 in video_options['H264']['960x720'] %}30,{% endif %}
            {% if 24 in video_options['H264']['960x720'] %}24,{% endif %}
        ],
        {% endif %}
        {% if '800x600' in video_options['H264'] and video_options['H264']['800x600'] | intersect([60,48,30,24]) %}
        '800x600': [
            {% if 60 in video_options['H264']['800x600'] %}60,{% endif %}
            {% if 48 in video_options['H264']['800x600'] %}48,{% endif %}
            {% if 30 in video_options['H264']['800x600'] %}30,{% endif %}
            {% if 24 in video_options['H264']['800x600'] %}24,{% endif %}
        ],
        {% endif %}
        {% if '640x480' in video_options['H264'] and video_options['H264']['640x480'] | intersect([60,48,30,24]) %}
        '640x480': [
            {% if 60 in video_options['H264']['640x480'] %}60,{% endif %}
            {% if 48 in video_options['H264']['640x480'] %}48,{% endif %}
            {% if 30 in video_options['H264']['640x480'] %}30,{% endif %}
            {% if 24 in video_options['H264']['640x480'] %}24,{% endif %}
        ],
        {% endif %}
    },
    {% endif %}
    {% if  'MJPG' in video_options.keys() %}
    'mjpeg': {
        {% if '1920x1080' in video_options['MJPG'] and video_options['MJPG']['1920x1080'] | intersect([60,48,30,24]) %}
        '1920x1080': [
            {% if 60 in video_options['MJPG']['1920x1080'] %}60,{% endif %}
            {% if 48 in video_options['MJPG']['1920x1080'] %}48,{% endif %}
            {% if 30 in video_options['MJPG']['1920x1080'] %}30,{% endif %}
            {% if 24 in video_options['MJPG']['1920x1080'] %}24,{% endif %}
        ],
        {% endif %}
        {% if '1280x720' in video_options['MJPG'] and video_options['MJPG']['1280x720'] | intersect([60,48,30,24]) %}
        '1280x720': [
            {% if 60 in video_options['MJPG']['1280x720'] %}60,{% endif %}
            {% if 48 in video_options['MJPG']['1280x720'] %}48,{% endif %}
            {% if 30 in video_options['MJPG']['1280x720'] %}30,{% endif %}
            {% if 24 in video_options['MJPG']['1280x720'] %}24,{% endif %}
        ],
        {% endif %}
        {% if '1024x576' in video_options['MJPG'] and video_options['MJPG']['1024x576'] | intersect([60,48,30,24]) %}
        '1024x576': [
            {% if 60 in video_options['MJPG']['1024x576'] %}60,{% endif %}
            {% if 48 in video_options['MJPG']['1024x576'] %}48,{% endif %}
            {% if 30 in video_options['MJPG']['1024x576'] %}30,{% endif %}
            {% if 24 in video_options['MJPG']['1024x576'] %}24,{% endif %}
        ],
        {% endif %}
        {% if '640x360' in video_options['MJPG'] and video_options['MJPG']['640x360'] | intersect([60,48,30,24]) %}
        '640x360': [
            {% if 60 in video_options['MJPG']['640x360'] %}60,{% endif %}
            {% if 48 in video_options['MJPG']['640x360'] %}48,{% endif %}
            {% if 30 in video_options['MJPG']['640x360'] %}30,{% endif %}
            {% if 24 in video_options['MJPG']['640x360'] %}24,{% endif %}
        ],
        {% endif %}
        {% if '1024x768' in video_options['MJPG'] and video_options['MJPG']['1024x768'] | intersect([60,48,30,24]) %}
        '1024x768': [
            {% if 60 in video_options['MJPG']['1024x768'] %}60,{% endif %}
            {% if 48 in video_options['MJPG']['1024x768'] %}48,{% endif %}
            {% if 30 in video_options['MJPG']['1024x768'] %}30,{% endif %}
            {% if 24 in video_options['MJPG']['1024x768'] %}24,{% endif %}
        ],
        {% endif %}
        {% if '960x720' in video_options['MJPG'] and video_options['MJPG']['960x720'] | intersect([60,48,30,24]) %}
        '960x720': [
            {% if 60 in video_options['MJPG']['960x720'] %}60,{% endif %}
            {% if 48 in video_options['MJPG']['960x720'] %}48,{% endif %}
            {% if 30 in video_options['MJPG']['960x720'] %}30,{% endif %}
            {% if 24 in video_options['MJPG']['960x720'] %}24,{% endif %}
        ],
        {% endif %}
        {% if '800x600' in video_options['MJPG'] and video_options['MJPG']['800x600'] | intersect([60,48,30,24]) %}
        '800x600': [
            {% if 60 in video_options['MJPG']['800x600'] %}60,{% endif %}
            {% if 48 in video_options['MJPG']['800x600'] %}48,{% endif %}
            {% if 30 in video_options['MJPG']['800x600'] %}30,{% endif %}
            {% if 24 in video_options['MJPG']['800x600'] %}24,{% endif %}
        ],
        {% endif %}
        {% if '640x480' in video_options['MJPG'] and video_options['MJPG']['640x480'] | intersect([60,48,30,24]) %}
        '640x480': [
            {% if 60 in video_options['MJPG']['640x480'] %}60,{% endif %}
            {% if 48 in video_options['MJPG']['640x480'] %}48,{% endif %}
            {% if 30 in video_options['MJPG']['640x480'] %}30,{% endif %}
            {% if 24 in video_options['MJPG']['640x480'] %}24,{% endif %}
        ],
        {% endif %}
    },
    {% endif %}
    {% if  'YUYV' in video_options.keys() %}
    'software': {
        {% if '1920x1080' in video_options['YUYV'] and video_options['YUYV']['1920x1080'] | intersect([60,'59.940',48,30,24]) %}
        '1920x1080': [
            {% if 60 in video_options['YUYV']['1920x1080'] %}60,{% endif %}
            {% if '59.940' in video_options['YUYV']['1920x1080'] %}'59.940',{% endif %}
            {% if 48 in video_options['YUYV']['1920x1080'] %}48,{% endif %}
            {% if 30 in video_options['YUYV']['1920x1080'] %}30,{% endif %}
            {% if 24 in video_options['YUYV']['1920x1080'] %}24,{% endif %}
        ],
        {% endif %}
        {% if '1280x720' in video_options['YUYV'] and video_options['YUYV']['1280x720'] | intersect([60,'59.940',48,30,24]) %}
        '1280x720': [
            {% if 60 in video_options['YUYV']['1280x720'] %}60,{% endif %}
            {% if '59.940' in video_options['YUYV']['1280x720'] %}'59.940',{% endif %}
            {% if 48 in video_options['YUYV']['1280x720'] %}48,{% endif %}
            {% if 30 in video_options['YUYV']['1280x720'] %}30,{% endif %}
            {% if 24 in video_options['YUYV']['1280x720'] %}24,{% endif %}
        ],
        {% endif %}
        {% if '1024x576' in video_options['YUYV'] and video_options['YUYV']['1024x576'] | intersect([60,48,30,24]) %}
        '1024x576': [
            {% if 60 in video_options['YUYV']['1024x576'] %}60,{% endif %}
            {% if 48 in video_options['YUYV']['1024x576'] %}48,{% endif %}
            {% if 30 in video_options['YUYV']['1024x576'] %}30,{% endif %}
            {% if 24 in video_options['YUYV']['1024x576'] %}24,{% endif %}
        ],
        {% endif %}
        {% if '640x360' in video_options['YUYV'] and video_options['YUYV']['640x360'] | intersect([60,48,30,24]) %}
        '640x360': [
            {% if 60 in video_options['YUYV']['640x360'] %}60,{% endif %}
            {% if 48 in video_options['YUYV']['640x360'] %}48,{% endif %}
            {% if 30 in video_options['YUYV']['640x360'] %}30,{% endif %}
            {% if 24 in video_options['YUYV']['640x360'] %}24,{% endif %}
        ],
        {% endif %}
        {% if '1024x768' in video_options['YUYV'] and video_options['YUYV']['1024x768'] | intersect([60,48,30,24]) %}
        '1024x768': [
            {% if 60 in video_options['YUYV']['1024x768'] %}60,{% endif %}
            {% if 48 in video_options['YUYV']['1024x768'] %}48,{% endif %}
            {% if 30 in video_options['YUYV']['1024x768'] %}30,{% endif %}
            {% if 24 in video_options['YUYV']['1024x768'] %}24,{% endif %}
        ],
        {% endif %}
        {% if '960x720' in video_options['YUYV'] and video_options['YUYV']['960x720'] | intersect([60,48,30,24]) %}
        '960x720': [
            {% if 60 in video_options['YUYV']['960x720'] %}60,{% endif %}
            {% if 48 in video_options['YUYV']['960x720'] %}48,{% endif %}
            {% if 30 in video_options['YUYV']['960x720'] %}30,{% endif %}
            {% if 24 in video_options['YUYV']['960x720'] %}24,{% endif %}
        ],
        {% endif %}
        {% if '800x600' in video_options['YUYV'] and video_options['YUYV']['800x600'] | intersect([60,48,30,24]) %}
        '800x600': [
            {% if 60 in video_options['YUYV']['800x600'] %}60,{% endif %}
            {% if 48 in video_options['YUYV']['800x600'] %}48,{% endif %}
            {% if 30 in video_options['YUYV']['800x600'] %}30,{% endif %}
            {% if 24 in video_options['YUYV']['800x600'] %}24,{% endif %}
        ],
        {% endif %}
        {% if '640x480' in video_options['YUYV'] and video_options['YUYV']['640x480'] | intersect([60,48,30,24]) %}
        '640x480': [
            {% if 60 in video_options['YUYV']['640x480'] %}60,{% endif %}
            {% if 48 in video_options['YUYV']['640x480'] %}48,{% endif %}
            {% if 30 in video_options['YUYV']['640x480'] %}30,{% endif %}
            {% if 24 in video_options['YUYV']['640x480'] %}24,{% endif %}
        ],
        {% endif %}
    }
    {% endif %}
};

function updateEncodingOptions(event) {
    let encodings_elem = event.target;
    let encoding = event.target.value;
    let device_id = event.target.id.slice(0, -('-encoding'.length));
    if (['v4l2h264enc', 'x264enc', 'jpegenc', 'vp8enc'].includes(encoding)) {
        encoding = 'software';
    }

    let resolutions_elem = document.querySelector(`#${device_id}-resolution`);
    let resolution_selected = false;
    for (let resolution_option of resolutions_elem.children) {
        if (resolution_option.value in encoding_options[encoding]) {
            resolution_option.removeAttribute('hidden');
            resolution_option.removeAttribute('selected');
            if (resolution_selected == false) {
                resolution_option.setAttribute('selected', '');
                resolution_selected = true;
            }
        } else {
            resolution_option.setAttribute('hidden', '');
            resolution_option.removeAttribute('selected');
        }
    }
    let resolution = resolutions_elem.value;

    let framerates_elem = document.querySelector(`#${device_id}-framerate`);
    let option_selected = false;
    for (let framerate_option of framerates_elem.children) {
	let framerate_option_val = framerate_option.value;
	if (framerate_option_val != '59.940') {
	    framerate_option_val = parseInt(framerate_option_val);
	}
        if (encoding_options[encoding][resolution].includes(framerate_option_val)) {
            framerate_option.removeAttribute('hidden');
            framerate_option.removeAttribute('selected');
            if (option_selected == false) {
                framerate_option.setAttribute('selected', '');
                option_selected = true;
            }
        } else {
            framerate_option.setAttribute('hidden', '');
            framerate_option.removeAttribute('selected');
        }
    }
};

function updateResolutionOptions(event) {
    let resolutions_elem = event.target;
    let resolution = event.target.value;
    let device_id = event.target.id.slice(0, -('-resolution'.length));

    let encoding_elem = document.querySelector(`#${device_id}-encoding`);
    let encoding = encoding_elem.value;
    if (['v4l2h264enc', 'x264enc', 'jpegenc', 'vp8enc'].includes(encoding)) {
        encoding = 'software';
    }

    let framerates_elem = document.querySelector(`#${device_id}-framerate`);
    let option_selected = false;
    for (let framerate_option of framerates_elem.children) {
        if (encoding_options[encoding][resolution].includes(parseInt(framerate_option.value))) {
            framerate_option.removeAttribute('hidden');
            framerate_option.removeAttribute('selected');
            if (option_selected == false) {
                framerate_option.setAttribute('selected', '');
                option_selected = true;
            }
        } else {
            framerate_option.setAttribute('hidden', '');
            framerate_option.removeAttribute('selected');
        }
    }
};

document.querySelector("#device-{{ video_device }}-encoding").onchange = updateEncodingOptions;
document.querySelector("#device-{{ video_device }}-resolution").onchange = updateResolutionOptions;
{% endblock %}
